*, *:before, *:after {
    /*初始化*/
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* header的css代码 */

#header {
    padding: 200px 0;
    width: 100%;
    background: url(../images/bg1.png) no-repeat;
    color: aliceblue;
    line-height: 26px;
    /*利用层叠上下文做蒙版效果*/
    position: relative;
    z-index: 0;
}

#header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.65);
    z-index: -1;
}

.hello {
    /*设置布局方式为flex*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.hello h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.hello p {
    width: 700px;
    text-align: center;
    margin-bottom: 50px
}

.creataccount {
    width: 100%;
}

.tocreat {
    width: 800px;
    text-align: center;
    border: 1px solid white;
    padding: 25px;
    margin: 0 auto;
}

.signup {
    margin: 30px 0;
}

.tocreat input[type=text] {
    background: inherit;
    border: 1px solid aliceblue;
    width: 220px;
    line-height: 30px;
    margin-right: 20px;
    padding-left: 20px;
    color: aliceblue;
}

.signup input[type=button] {
    background-color: aliceblue;
    width: 100px;
    border: 1px solid aliceblue;
    line-height: 30px;
    margin-right: 20px;
    padding-left: 20px;
    margin: 0;
    padding: 0;
}

/* part2部分布局 */

#sections {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
}

#sections p:nth-child(1) {
    font-size: 12px;
}

#sections h2 {
    width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}

.item-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.items {
    display: flex;
    /*这里如果不设置flex会出现icon与文字不在同一行上的问题*/
    flex: none;
    height: 150px;
    width: 425px;
}

.items .icon {
    margin-right: 20px;
}

.item-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#sections .item-content p:first-child {
    font-size: 24px;
}

#sections .item-content p:nth-child(2) {
    color: rgba(20, 20, 20, 0.7);
}

/* part3部分布局 */

#policies {
    width: 100%;
    background: url(../images/bg2.png) no-repeat;
    background-size: cover;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 100px 0;
    position: relative;
    z-index: 0;
}

#policies::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.65);
    z-index: -1;
}

#policies .policies-content {
    float: left;
    width: 450px;
    height: 100%;
    margin: 0px 50px 0px 200px;
}

#policies .policies-content .words {
    display: flex;
    flex-direction: column;
}

#policies .policies-content .words p {
    flex: none;
    width: 300px;
    padding-bottom: 30px;
}

#policies .policies-content .words p:nth-child(1) {
    font-size: 32px;
}

#policies .policies-content button {
    border: 1px solid aliceblue;
    line-height: 40px;
    margin-right: 20px;
    padding: 0 20px;
}

#policies .policies-content button:nth-child(2) {
    background: aliceblue;
    color: #000;
}

#policies .policies-content button:nth-child(3) {
    background: inherit;
    color: aliceblue;
}

#policies .ipad img {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

/* part3布局 */

#products {
    width: 100%;
    text-align: center;
    margin: 100px auto;
    border-bottom: 1.5px solid rgb(201, 200, 200);
}

#products .product-items {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 100px auto;
}

#products .product-items .product-intro {
    flex: none;
    width: 250px;
}

#products .product-items .product-intro p {
    padding-top: 30px;
    color: rgba(20, 20, 20, 0.7);
}

#products p:nth-child(1) {
    font-size: 40px;
}

/* part4布局 */

#introduction {
    display: flex;
    flex-direction: column;
    flex: none;
    width: 100%;
    margin: 100px auto;
    border-bottom: 1.5px solid rgb(201, 200, 200);
}

#introduction .intro-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

#introduction .intro-items .article {
    flex: none;
    width: 350px;
    margin-top: 50px;
}

#introduction .intro-items .article p:nth-child(1) {
    font-size: 22px;
    margin-bottom: 20px;
}

#introduction .intro-items .article p:nth-child(2) {
    color: rgba(20, 20, 20, 0.7);
}

/* crew布局 */

#crew {
    padding: 0 225px 50px 225px;
    border-bottom: 1.5px solid rgb(201, 200, 200);
}

#crew .our-crew p {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#crew .our-crew p:nth-child(1) {
    font-size: 40px;
    margin-bottom: 30px;
}

#crew .our-crew p:nth-child(2) {
    color: rgba(20, 20, 20, 0.7);
}

#crew .tutors-album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#crew .tutors-album .tutors {
    margin-top: 50px;
    position: relative;
}

#crew .tutors-album .tutors .mask {
    /* hover蒙版 */
    position: absolute;
    /* 用flex来使其垂直水平居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(20, 20, 20, 0.65);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

#crew .tutors-album .tutors .mask .links a {
    color: inherit;
    text-decoration: none;
}

#crew .tutors-album .tutors .mask .links .iconfont {
    font-size: 50px !important;
    margin: 15px;
}

#crew .tutors-album .tutors .mask p:nth-child(1) {
    font-size: 26px;
    padding-bottom: 10px;
}

#crew .tutors-album .tutors .mask p:nth-child(2) {
    color: rgba(158, 158, 158, 0.7);
    margin-bottom: 30px;
}

#crew .tutors-album .tutors:hover .mask {
    opacity: 1;
}

/* contacts部分布局 */

#contacts {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

#contacts .to-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border: 1px  solid rgb(201, 200, 200);
}
#contacts .to-contact :nth-child(n){
    line-height: 30px;
    margin-top: 20px;
    width: 250px;
    padding-left: 10px;
}
#contacts .to-contact p{
    margin-top: 0px !important;
    text-align: center;
}
#contacts .to-contact textarea{
    resize: none;
    line-height: 14px;
}
#contacts .to-contact button{
    background-color: black;
    color: aliceblue;
    border: none;
}

#contacts .our-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

#contacts .our-contacts p{
    flex: none;
    width: 350px;
}
#contacts .our-contacts p:nth-child(1){
    font-size: 30px;
}
#contacts .our-contacts>p:nth-child(2){
    color: rgba(20, 20, 20, 0.65);
}
#contacts .our-contacts :nth-child(n){
    margin-bottom: 20px;
}
#contacts .our-contacts .ways{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contacts .our-contacts .ways p{
    padding-left: 10px;
}

/* footer布局 */
#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    color: aliceblue;
}

#footer .footer-items{
    margin: 30px 0;
}
#footer .footer-items ul{
    list-style: none;
    padding-inline-start: 0px;
}

#footer .footer-items ul li{
    margin-top: 20px;
}

#footer .footer-items p{
    color:#575757;
    margin-top: 20px;
    
}
#footer .footer-items a{
    text-decoration: none;
    color:#575757;
}

#footer .footer-items h3{
    font-size: 14px;
}
#footer .footer-items p+ul{
    display: flex;
    justify-content: space-around;
}